extends ../layout
block content
  .main-container
    section.no-pad.login-page.fullscreen-element
      .background-image-holder
        img.background-image(alt='Poster Image For Mobiles', src='/Pivot 2.0.3/img/hero6.jpg')
      .container.align-vertical
        .row
          .col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3.text-center
            h1.text-white Login to continue
            .photo-form-wrapper.clearfix
              form
                input.form-email(type='text', placeholder='Email Address')
                |
                input.form-password(type='password', placeholder='Password')
                |
                input.login-btn.btn-filled(type='submit', value='Login')
            |
            a.text-white(href='/auth/signup') Create an account &#x279E;
            br
            |
            //
              a.text-white(href='#') I&apos;ve forgotten my password
