extends layout
block content
  .main-container
   section.no-pad.error-page.bg-primary.fullscreen-element
     .container.align-vertical
       .row
         .col-sm-12.text-center
           i.icon.icon-compass
           h1.jumbo 404
           h1
             strong Oh dear, we seem to have led you astray!
             br
             | Let&apos;s get back on track...
           |
           a.btn.btn-primary.btn-white(href='chooser.html', target='default') Take Me Home
           |
           a.btn.btn-primary.btn-white.btn-text-only(href='#') Report This
