form(action='https://my-server.com', method='POST')
  script.hw-form-transfer-methods(src='https://api.sandbox.hyperwallet.com/rest/widgets/transfer-methods/usr-3f74881f-d4a1-4ffb-8810-a2ae1b01a86e/en.min.js', data-hw-template='bootstrap3', data-hw-skipprofilefields='true', data-hw-transfermethodconfiguration='{"profileType": "INDIVIDUAL"}')
