div
  .text-center.text-success(style='font-size: 11em;')
    i.glyphicon.glyphicon-ok-circle
  .text-center.text-success(style='font-size: 2em;') Tutorial successfully completed!
  .text-center(style='margin-top: 1.5em;')
    a.btn.btn-primary.btn-filled(href='/') Return to home
