
#widget
script(src='https://api.sandbox.hyperwallet.com/rest/widgets/transfer-methods/'+hyperusertoken+'/en.min.js')
script(type='text/javascript').
  //create widget
  var hyperwallet_moneytransfer_response = null;
  var widget = HWWidgets.transferMethods.configure({
  "template": "bootstrap3",
  "el": document.getElementById("widget"),
  "transferMethodConfiguration":{'profileType': 'INDIVIDUAL'},
  "skipProfileFields":true,
  "onComplete": function (data) {
    console.log("Received token: " + data.token);
    hyperwallet_moneytransfer_response = data;
    this.setData({});
    step_widzard.bootstrapWizard('next');
  },
  "onError": function (errors, state) {
    console.log(errors);
  }
  });
  widget.create(); //display widget
