extends ../layout
block styles
  link(href='stylesheets/internationalcall/index.css', rel='stylesheet', type='text/css', media='all')
  link(rel='stylesheet', href='/intl-phone/css/intlTelInput.css')
block scripts
  script(src='/intl-phone/js/intlTelInput.min.js')
  script(src='/javascripts/internationalcall/internationalcall.js')
block content
