$ariseshine_maincolor: #8d4b20;
.overlay-bar .menu li a,.overlay-bar .has-dropdown:after,.overlay-bar .utility-menu span{
  color: $ariseshine_maincolor;
}
.btn-primary.btn-filled{
  background: $ariseshine_maincolor;
  color: white;
  border: 2px solid $ariseshine_maincolor;
}
.bg-primary {
    background-color: $ariseshine_maincolor !important;

}
.overlay-bar .login-button{
  border: 2px solid $ariseshine_maincolor;
  color:$ariseshine_maincolor;
}
.btn-primary:focus{
  background: transparent;
}
.menu li a{
  font-size: 14px;
}
.btn-primary{
  border: 2px solid $ariseshine_maincolor;
  color:$ariseshine_maincolor;
}
.btn:hover {
    background: none;
    color: #fff;
    border-color: $ariseshine_maincolor;
    background-color: $ariseshine_maincolor;
}
.subnav {
  background: $ariseshine_maincolor;
}
.overlay-bar .subnav li a{
  color: white !important;
}
footer.short-2 .contact-action{
  background-color: $ariseshine_maincolor;
}
footer.short-2 .contact-action:hover {
    background: rgb(97, 52, 23);
}
.top-bar.nav-sticky{
  background: white;
}



.logo.logo-square {
  max-width: 150px;
  max-height: 150px;
  bottom: 60px;
}
.row.nav-menu ul.menu li{
  margin-right: 30px;
}
.row.nav-menu ul.menu li a.active{
  text-decoration: underline;
}
.overlay-bar.nav-sticky .menu li a{
  color: $ariseshine_maincolor;
}
.overlay-bar.nav-sticky .menu li a{
  color: $ariseshine_maincolor;
}
