extends ../layout
block styles
  link(rel='styleSheet' href='stylesheets/policiesprocedures/index.css')
block content
    div.container
      h1.chapter_title.
       Making a Call
      h3.section_title.
       Where can I find the rates to the countries I call?
      p.
       Go to Rates to view Arise & Shine's low per-minute calling rates to over 200 countries and locations.
      h3.section_title
       How do I make calls with Arise & Shine?
      p.
       First, you will need a Arise & Shine account with funds for international calling. 
        To make a call, dial the access number you received with your account. When you hear the prompt, dial the number you wish to call. Be sure to include the country code, city code and phone number when you dial. It's that easy.
      h3.section_title.
       Do I need to have my phone service provider enable international calling on my phone to use Arise & Shine?
      p.
       No, the only phone service you need is domestic calling within the U.S. If the calling plan from your phone service provider does not include nationwide U.S. coverage, you may want to check and confirm that calls to your Arise & Shine access number will not incur any additional cost.
      h3.section_title.
       Which Arise & Shine access number should I use?
      p.
       You should use the access number assigned to you when setting up your International Calling service. Most calling plans allow you to call anywhere in the U.S. at the same price. If the calling plan from your phone service provider does not include nationwide U.S. coverage, you may want to check and confirm that calls to your Arise & Shine access number will not incur any additional cost.
      h3.section_title.
       Can I call from other phones using my Arise & Shine account?
      p.
       Yes, of course! If you are going to call frequently from another phone, you can register the phone number with your Arise & Shine account. This way you can allow other family members to use your account from their own phones.
       Even if you don't register a phone, you can still use it with your Arise & Shine account. Simply dial your access number and when prompted enter your registered phone number and your 4-digit security code. Then dial the number you wish to call, beginning with the country code.
      h3.section_title.
       How do I view my call history?
      p.
       Login to your account and go to the Call History page. You can view Arise & Shine calls made within the past 12 months from your phone and all additional phones registered to share your calling balance.
      h3.section_title.
       Can I have an Unlimited Plan in addition to my International Calling service?
      p.
       Yes, you can have both services on your Arise & Shine account. You can sign up for both services at the same time or add a service later in the account center.
       Unlimited Plans
      h3.section_title.
       What is the difference between an Unlimited Plan and the International Calling service?
      p.
       The difference is how you are charged for your calls. When you use the international calling service, the cost of your calls depends on the per-minute rate to the country or location you are calling and the length of your call. The longer the call, the more you are charged. You are charged for every call you make, and the charges are deducted from your calling balance.
       An Unlimited plan provides unlimited calling to several countries or locations. For one low price, you can call any (or all) of the plan locations and talk as long as you like while the plan is active. There are no additional charges when calling in-plan locations.
      h3.section_title.
       Why isn't the country I call included in an Unlimited Plan?
      p.
       Unfortunately, we aren't able to include every country in our Unlimited Plans. You can still take advantage of our low international rates and great call quality by using our international calling service.
       If you are only interested in an Unlimited Plan, we do enhance our services regularly, so please check our website in the future.
      h3.section_title.
       How do I know when my Unlimited Plan will expire?
      p.
       To find out your expiration date and other information about your plan, login to your Arise & Shine account. From the account center you can renew your plan and also set up Auto Renewal, so you never need to worry about your plan expiring.
      h3.section_title.
       How do I renew my Unlimited Plan?
      p.
       Login to the account center and go to the Manage Your Services section. From there, you will be able to review the details of your plan and renew it. You can also set up Auto Renewal, so you never need to worry about your plan expiring.
      h3.section_title.
       Can I cancel an Unlimited Plan?
      p.
       Yes, you may cancel your plan by contacting customer service. Please note that there are no refunds of the plan fee once you purchase or renew an Unlimited Plan.
      h3.section_title.
       Can I use my Unlimited Plan from any phone?
      p.
       Your Unlimited Plan can only be used from the phone number you registered when you purchased the plan or when you set up your Arise & Shine account.
       Additional phone numbers you might have registered to share your International Calling service will not be able to use your Unlimited Plan.
      h3.section_title.
       Can I use the International Calling service in addition to having an Unlimited Plan?
      p.
       Yes, you can have both services. If you need to call out-of-plan locations, you can add funds to your Arise & Shine account for International Calling.
       You'll be charged our low per-minute rates for out-of-plan calls, and the cost will be deducted from your calling balance.
      h1.chapter_title.
       Adding Funds
      h3.section_title.
       How do I add funds for International Calling?
      p.
       "Adding funds is easy. Follow these steps:
       1. Login to your Arise & Shine account
       2. Tap the "Recharge Now link
       3. Select the amount of funds you want to add
       4. Select a payment method
       If you want to make sure you always have funds for calling, turn on auto recharge. You can control how much to add to your account and how often recharges occur. You'll never run out of talk time!
       You also have the option of adding funds by visiting a Arise & Shine retailer or by calling Customer Service at 800-676-8312.
      h1.chapter_title.
       Money Transfer
      h2.semi_chapter_title.
       Sending Money
      h3.section_title.
       How much does it cost?
      p.
       After you select a country and the amount you wish to send, you will see the transfer fee and current exchange rate. Fees and exchange rates are subject to change and can vary by amount and country.
      h3.section_title.
       How much can I send?
      p.
       The minimum amount is $10 and the maximum is $2,999 regardless of whether you pay with a bank account or a credit or debit card. There may be other limitations that lower the maximum amount based on the recipient’s country or the location of deposit or cash pickup.
      h3.section_title.
       Is there a cash advance fee if I pay with my credit card?
      p.
       Some credit cards may charge cash advance fees for money transfer transactions. Please check with your card issuer before placing an order to see if they charge such fees.
      h3.section_title.
       What do I need to send a money transfer?
      p.
       To complete your online transfer, we require you to have a Arise & Shine account with your complete name, phone number, email address, and residential address. (You can create an account when you send money.) Also have your recipient’s complete name as it is listed on his or her official identification or bank account. As part of our required regulatory compliance review, we may need additional information and will contact you if necessary.
      h3.section_title.
       How fast is it?
      p.
       Most transfers funded with a credit or debit card are sent within minutes. Transactions funded with a bank account require 3 to 5 additional business days to receive the funds from your bank. Timeframes will also vary depending on holidays, delivery method, time zones, agent hours, and required review process.
      h3.section_title.
       How does my recipient receive the money?
      p.
       We offer different payment options depending on the destination country and in-country partners. Our payment methods include mobile wallet, cash pickup, bank deposit, and home delivery. For home delivery and pickup, your recipient will be required to have identification and may also need the pickup number.
      h3.section_title.
       Why do some countries not offer bank or cash pickup options?
      p.
       There are some countries where we cannot offer bank or cash pickup due to regulatory or commercial reasons. 
      h3.section_title.
       How do I correct an error on my order?
      p.
       If the recipient or transfer information you submitted online has an error, it may be necessary to cancel the order and submit a replacement order. 
      h3.section_title.
       How do I cancel my order?
      p.
       If the money transfer has NOT been released for payment, you may cancel your order by calling customer service. A transfer that has been released for payment cannot be canceled.
      h3.section_title.
       How long does it take to get my refund?
      p.
       Please allow 5 to 7 business days for refunds to your credit or debit card and 3 to 5 business days for bank account refunds.
      h3.section_title.
       How do I check the status of my order?
      p.
       You will receive text messages and/or emails with status alerts. You can check the status of your money transfer at any time by going to your account center and viewing your recent purchases. 
      h3.section_title.
       How will I know when my money transfer has been paid?
      p.
       You will receive a text and/or email message. 
      h1.chapter_title.
       Mobile App
      h2.semi_chapter_title.
       About the App
      h3.section_title.
       What is the Arise & Shine Mobile App?
      p.
       Our app brings the savings and convenience of Arise & Shine to your iPhone. You can use the app with many of the services that Arise & Shine offers: international calling, unlimited plans, international mobile top up and domestic mobile top up.
       You can also use the app to add funds to your calling balance.
      h3.section_title.
       What are the charges for using the Arise & Shine Mobile App?
      p.
       The Arise & Shine Mobile App is free to download from the App Store. There are no monthly charges or commitments associated with the app.
      h3.section_title.
       Will the app connect to my existing Arise & Shine account?
      p.
       Yes, the app is an extension of your existing International Calling account. Simply download and activate the app and you can start making calls immediately, using your existing Arise & Shine calling balance.
      h3.section_title.
       Does the Arise & Shine Mobile App replace my current mobile service provider or mobile calling plan?
      p.
       The Arise & Shine Mobile App does NOT replace your current mobile service provider or plan. The app uses your mobile service or plan to connect with the Arise & Shine platform. You can choose whether the app uses your mobile minutes, data plan or Wi-Fi (if available) to make this connection.
      h2.semi_chapter_title.
       Using the App
      h3.section_title.
       Can I use the Arise & Shine Mobile App from other phones and share my calling balance?
      p.
       Yes, you can. Any phone number that you register to your Arise & Shine account can use the app and share your calling balance. 
       For your security, only the phone associated with your primary phone number (the number you provided when you joined Arise & Shine) can add funds to your account.
      h3.section_title.
       My Arise & Shine free trial is almost over. How can I keep using the app?
      p.
       It's easy to continue using the Arise & Shine Mobile App for your international calling. Tap the Funds button in the app menu and choose how you would like fund your calling balance. If you are using the iPhone app, you have the additional option of using your iTunes account to make an in-app purchase.
       You can always use the app for international and domestic mobile top ups, even if you do not have funds for international calling, Tap the Funds button in the app menu and then tap Mobile Top Up.
      h3.section_title.
       Can I use the Arise & Shine Mobile App when I am not in the U.S.?
      p.
       Yes, you can. To avoid international roaming charges from your mobile service provider, be sure that the app is set to use Wi-Fi access.
       We also suggest putting your phone in airplance mode to ensure that it will not use your minutes or mobile data.
      h3.section_title.
       How many contacts can I store in the Arise & Shine Mobile App?
      p.
       In the app you will be able to access all of the contacts stored in your phone's native address book, simply by tapping the Contacts button. To make calling even easier, set up your Favorites list in the app - you'll have one-tap calling to the people you call most.
      h3.section_title.
       What Arise & Shine services are available through the app?
      p.
       The app can be used for international calling, including unlimited plans, international mobile top up and domestic mobile top up. You can also use the app to add funds to your calling balance and redeem Arise & Shine recharge cards.
       We frequently update the app with performance improvements and new features, so be sure to download the app and get the most out of your Arise & Shine account.
      h2.semi_chapter_title.
       Adding Funds
      h3.section_title.
       Can I add funds directly in the Arise & Shine Mobile App?
      p.
       Yes, you can. Simply tap the Funds button in the app menu and choose how you would like to fund your calling balance. You can add funds with your credit or debit card. If you are using the iPhone app, you have the option of using your iTunes account to make an in-app purchase.
      h3.section_title.
       How do you protect my credit card information?
      p.
       The information you submit on the Arise & Shine Mobile App is protected by the highest level of industry-standard SSL encryption. All of the credit card information submitted by the app is then encrypted a second time before being stored on our secure billing servers.
      h1.chapter_title
       Call Me
      h2.semi_chapter_title.
       Using Call Me
      h3.section_title.
       Do I have to pay any additional fees for incoming calls?
      p.
       Arise & Shine does not charge you any additional fees for incoming calls. Your phone service provider's calling rates (or minutes) will apply as if you were receiving an incoming local call.
      h1.chapter_title.
       Other Services
      h2.semi_chapter_title.
       Money Transfer
      h3.section_title.
       What is Arise & Shine Money Transfer?
      p.
       With our Money Transfer service, you can send money to your loved ones around the world. 
      h3.section_title.
       How do I create a Arise & Shine account?
      p.
       If this is the first time you are making a transaction on the Arise & Shine website (for example, sending a mobile top up or adding funds for international calling), you will create a Arise & Shine account.
       You will then have a set of credentials that will allow you to login to the account center, where you can manage your account, purchase or order additional Arise & Shine services and take advantage of our Friends Forever bonus program.
       Account Credentials
      h3.section_title.
       How do I login to my Arise & Shine account?
      p.
       Follow these steps to login:
       1. Go to the Login page.
       2. Enter the email address you provided when you created your Arise & Shine account or enter the phone number you use with your International Calling service. Press the Next button.
       3. Enter your password below your email address or your 4-digit security code below your phone number.
       4. Press the Login button to enter the account center.
      h3.section_title.
       I already login with a registered phone number and security code. Do I need a username and password?
      p.
       You will always be able to login to the account center using your registered phone number and security code. We may introduce new services that will require you to set up a username and password, so we recommend that you add these credentials to your personal profile.
       Managing Your Account
      h3.section_title.
       What can I do in the account center?
      p.
       The account center puts all of the details about your Arise & Shine services in one place. You can:
       • Update your contact information
       • Change your password or your security code
       • Add funds to your calling balance
       • Send international and domestic mobile top ups
       • View your call history
       • Manage your service settings, such as Auto Recharge
       
      h3.section_title.
       How do I update information in my account?
      p.
       Use these links to access specific pages within the account center:
       • Update your password or security code
       • Update your credit card or bank account information
       • update your auto recharge settings
      h3.section_title.
       How do I view my transaction history?
      p.
       Login to your account and go to the Transaction History page. You can view transactions for all of the services in your Arise & Shine account.
       Payment Options
       Credit/Debit Card
      h3.section_title.
       What credit and debit cards do you accept?
      p.
       Arise & Shine accepts the following cards for payment:
       • Visa (credit and debit cards)
       • MasterCard (credit and debit cards)
       • American Express
       • Discover
      h3.section_title.
       Do you accept prepaid cards?
      p.
       Yes, we do. Please be sure that you have first registered the card with the issuer for online use. This will ensure that your card will be accepted for payment. Please note that prepaid cards cannot be used to pay for money transfers.
      h3.section_title.
       How do I update my card information?
      p.
       If you need to update your expiration date or other card information, follow these steps:
       1. Login to your Arise & Shine account.
       2. Select Payment Options from the My Account link in the main navigation.
       3. Select the Credit/Debit Card tab and update your card information.
      h3.section_title.
       How does Arise & Shine protect my card information?
      p.
       We take security and the confidentiality of our customers' personal information very seriously. All online transactions are conducted according to the highest level of security standards and SSL encryption to prevent customer information from being intercepted. All card information is then encrypted a second time before being stored on our secure billing servers.
       We recommend always using the most recent version of your Internet browser, so can you benefit from its latest security features and protect your online transactions.
       Bank Account
      h3.section_title.
       Can I purchase Arise & Shine services using my bank account?
      p.
       You can pay for money transfers using your bank account. All other services require payment by credit or debit card.
      h3.section_title.
       Can I pay with a check?
      p.
       We do not accept personal or bank checks at this time.
      h3.section_title.
       What is Auto Recharge?
      p.
       Auto Recharge is a convenient feature that ensures you will have funds for your International Calling service. It uses the credit/debit card or bank account associated with your account to make sure you never run out of talk time. You can control how much to add to your account and how often recharges occur.
       You can edit your Auto Recharge settings anytime in the account center.
      h3.section_title.
       What is Auto Renewal?
      p.
       Auto Renewal is a convenient feature that renews your Unlimited Plan before it expires. It uses the credit/debit card or bank account associated with your account to extend your plan.
       You can edit your Auto Renewal settings anytime in the account center.
       
