extends ../layout

block content
    div.container
     div.col-md-6
        p
            | GRAPHIC
            | INTERNATIONAL MONEY TRANSFER
            | LINK TO DOWNLOAD APP
            | (hyperlinked to Money Transfer Sub-page)
     div.col-md-6
         p
            | GRAPHIC
            | CHEAP INTERNATIONAL PHONE CALLS
            | LINK TO DOWNLOAD APP
            | (Hyperlinked to International Calls subpage)
     div.col-md-6
         p
            | Leave blank for now – for a summary paragraph

