
$ariseshine_maincolor: #b5651d;
.top-bar {
  position: static;
}
  @media only screen and (max-width: 767px) and (min-width: 320px){
  }
  .overlay-bar .menu li a:hover{
    color:#ef6e19;
  }
  .overlay-bar .login-button {
      border-color: $ariseshine_maincolor;
      color: $ariseshine_maincolor;
  }
  .step_course ul li{
    float: none !important;
    width: 100% !important;
  }
  .step_course{
    padding: 30px;
  }
.tab-content{
  background:transparent !important;
}
