extends ../layout

block content
    .row
        h2
            |Account Sub-pages
        h4
            |• Sender Profile – To be verified
        h4
            |• Methods of funding their accounts
        h4
            |• Receiver Profiles
        h4
            |• Methods of receiving cash – mobile money, bank deposit, bank collection

