extends ../layout
block styles
    link(rel='stylesheet' href ='stylesheets/aboutus/index.css')
block content
  .row.aboutus_content
      h3.text-center
        | Paragraph for Telephony with link to International
        | Calls page
      h3.text-center
        | Paragraph on Money transfer with Link to Money
        | Transfer Page
